<section class="post-container" data-postId="{{id}}">
  <article class="post-header">
    <p class="title">{{title}}</p>
    <p class="posted-by">posted by {{user.name}} at {{time_created}}</p>
  </article>
  <article class="post-body">
    <pre style="white-space: pre-wrap;">{{post}}</pre>
  </article>
</section>